<h3>Welcome to the Wifi Grill Thermometer Database!</h3>
<form action="/submit" method="POST">
        <input type="text" name="temp[device_id]" value="Enter Device ID" />
        <input type="integer" name="temp[probe_num]" value="Probe Number" />
        <input type="integer" name="temp[temperature]" value="Temperature" />
        <input type="submit" value="Submit" />
</form>
