<% @temp.each do |temp| %>
     <tr>
        <td>
                <%= temp.device_id %>
        </td>
        <td>
                <%= temp.probe_num %>
        </td>
        <td>
                <%= temp.temperature %>
        </td>
        <td>
                <%= temp.created_at %>
        </td>
     </tr>
 <% end %>
